 /* #genre-filter,
    #country-filter,
    button {
        width: 90%;
        max-width: 300px;
    } 

    .country-tag {
    font-size: 0.85rem;
    color: rgba(249, 219, 255, 0.6);
} 

.filter-row {
    flex-direction: row;
    } */

     /* <!-- <select id="country-filter">
            <option value="">All Countries</option>
            <option value="US">USA</option>
            <option value="GB">UK</option>
            <option value="KR">South Korea</option>
            <option value="JP">Japan</option>
            <option value="SE">Sweden</option>
        </select>
    </div> --> */

    /* let selectedCountry = document.getElementById("country-filter").value;
     Filtrera på land om valt
        if (selectedCountry) {
            filteredData = filteredData.filter(item => {
                const networkCountry = item.show.network?.country?.code;
                const webChannelCountry = item.show.webChannel?.country?.code;
                return networkCountry === selectedCountry || webChannelCountry === selectedCountry;
            });
        } */

         /*  // Hämta land för visning
            let country = show.network?.country?.name || 
                         show.webChannel?.country?.name || 
                         'Unknown'; */

/* <p class="country-tag">📍 ${country}</p> */

/* function resultShow() {
    let results = document.getElementById("results").value;

    fetch()
} */

/* //<p>${show.summary || 'Ingen beskrivning'}</p> */

/* p.summary {
    margin: 0;
} */

/*.show-details {
    flex: 1;
    min-width: 300px;
}

/*.show-details h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(249 219 255);
}

.show-meta p {
    margin: 10px 0;
    font-size: 1.1rem;
    color: rgb(249 219 255)
}

.summary {
    margin-top: 20px;
}

.summary h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}*/