:root {
    --font: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    background: #36014ddc;
    background-image: url("images/trivia.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: #ffa4f830;
    font-size: 1.5rem;
    color: rgb(249 219 255);
    font-family: var(--font);
}

header h1 {
    margin: 0;
}

.search {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20px;
    margin-bottom: 40px;
    gap: 20px;
    width: 100vw;
    justify-self: center;
    flex: 1;
}

input#search {
    height: 60px;
    font-size: 1.2rem;
    font-family: var(--font);
    background:rgba(255, 255, 255, 0.208);
    color: rgb(249 219 255);
    border: rgb(249 219 255) solid;
    border-radius: 25px;
    padding: 10px
}

input#search::placeholder {
    color: rgba(249, 219, 255, 0.6);
    font-family: var(--font);
}

.filter-row {
    display: flex;
    /* gap: 15px; */
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
    
#genre-filter,
#country-filter {
    height: 50px;
    font-size: 1rem;
    font-family: var(--font);
    background: rgba(255, 255, 255, 0.208);
    color: rgb(249 219 255);
    border: rgb(249 219 255) solid 2px;
    border-radius: 25px;
    padding: 0 20px;
    cursor: pointer;
    margin-top: 20px;
}

#genre-filter option,
#country-filter option {
    background: #36014d;
    color: rgb(249 219 255);
    font-family: var(--font);
}

button {
    height: 40px;
    width: 100px;
    font-size: 1rem;
    font-family: var(--font);
    border: rgb(249 219 255) solid;
    border-radius: 25px;
    background: transparent;
    color: rgb(249 219 255);
}

button:hover {
    box-shadow: 0 0 20px palevioletred;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

div#results {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 80%;
    min-height: 100vw;
    /* justify-content: space-evenly; */
}

.show-card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    text-decoration: none;
}

h3 {
    font-size: 1.2rem;
    font-family: var(--font);
    color: rgb(249 219 255);
    margin-bottom: 10px;
    text-align: center;
}

div#results img {
    border:rgb(249 219 255) solid;
    /* box-shadow: 6px 6px 10px palevioletred;
    color: rgb(249 219 255); */
}

div#results img:hover {
    border:rgb(249 219 255) solid;
    box-shadow: 0 0 30px palevioletred;
    color: rgb(249 219 255);
    font-family: var(--font);
    transform: scale(1.1);
    transition: 0.3s ease;
}

.genre-tag {
    font-size: 1rem;
    font-family: var(--font);
    color: rgba(249, 219, 255, 0.7);
    text-align: center;
    margin: 0;
    width: auto;
}

.no-results,
.error {
    font-size: 1.3rem;
    font-family: var(--font);
    color: rgb(249 219 255);
    text-align: center;
    padding: 40px;
    width: auto;
}

.no-image {
    font-family: var(--font);
    width: 100%;
    /* max-width: 400px; */
    /* height: 78%; */
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(249, 219, 255, 0.507);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(249, 219, 255, 0.468);
}

p {
    font-size: 1rem;
    font-family: var(--font);
    color: rgb(249 219 255);
    width: 200px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: #ffa4f830;
    font-size: 1rem;
    color: rgb(249 219 255);
    font-family: var(--font);
    margin-top: auto;
}

@media (min-width: 768px) {
    header {
        font-size: 2rem;
    }

    input#search {
    width: 400px;
    }

    #genre-filter, #country-filter {
        margin-top: 60px;
    }

    .search {
        /* top: 60px; */
        padding: 0px;
    }

    div#results {
        position: relative;
        margin-top: 40px;
        width: 92%;
        /* justify-content: space-evenly; */
        min-height: 0;
    }

    .show-card {
        width: 200px;
        height: 100%;
    }

    .show-card a {
        align-items: center;
    }

    .show-card a p {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* h3 {
        text-align: left;
    } */

    .genre-tag {
    text-align: center;
    margin: 0;
    width: 100%;
    }
}


